<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="jeffrummel">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1">
  <meta name="mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-capable" content="no">
  <link rel="stylesheet" href="/css/main.css">
  {% include './fonts.html' %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
</head>
<body class="site">
  <header class="site__hed">
    <h1 class="site__hed--title">
      <span>Docs</span>
      <img src="/img/logo__draft.png">
    </h1>

    {# <nav class="site__hed--nav">
    {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) -%}
        <li class="nav__item">
          <a class="nav__item--link" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
          <ul class="nav__item--children">
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </ul>
          {%- endif -%}
        </li>
      {%- endmacro %}

      <ul class="nav">
      {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </nav> #}
  </header>
  <section class="long">
    <nav id="navigation" class="long__nav">
    {% set navPages = collections.all | eleventyNavigation %}
      {% include './_menu.svg.njk' %}

      {% macro renderNavListItem(entry) -%}
        <li class="long__nav--item">
          <a class="long__nav--item--link" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
          <ul class="long__nav--item--children">
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </ul>
          {%- endif -%}
        </li>
      {%- endmacro %}

      <ul class="nav">
      {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </nav>

    <header class="long__hed">
      <h1 class="long__hed--title">{{ title }}</h1>
    </header>
    <article class="long__body">
      {{content | safe }}
    </article>

  </section>
  <script src="/js/main.js" async></script>
</body>
</html>