<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="jeffrummel">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1">
  <meta name="mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-capable" content="no">
  <link rel="stylesheet" href="/css/main.css">
  {% include './fonts.html' %}
  
  

  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#13193a">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="msapplication-TileColor" content="#13193a">
  <meta name="msapplication-config" content="/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


</head>
<body class="site">
  <header class="site__hed">
    <h1 class="site__hed--title">
      <a href="/">Docs</a>
      <svg viewBox="0 0 304 81" xmlns="http://www.w3.org/2000/svg"><path d="M1.735 59.443c6.176 2.963 13.894 5.075 21.515 5.026 4.442-.034 12.292-.646 13.644-6.093 2.427-9.831-28.827-17.456-23.942-37.115 2.23-9.028 12.976-20.069 37.049-20.26 7.845-.046 16.853.802 23.878 2.051l-1.541 18.239c-5.422-2.392-13.111-3.846-19.504-3.797-4.22.03-11.904 1.577-12.916 5.638-2.804 11.344 29.11 16.397 24.099 36.53-2.582 10.397-14.142 21.112-38.497 21.299-8.758.066-17.357-1.136-25.52-2.471l1.735-19.047m141.739-28.069l-4.096 16.51-36.543.281-3.502 13.991 43.478-.317-4.127 16.539-65.941.538L91.934 1.788l65.969-.546-4.127 16.522-43.476.347-3.372 13.515 36.546-.252m28.168-29.317l27.502-.204-19.189 77.17-27.504.206 19.191-77.172m72.802-1.15l-10.931 43.95c-2.768 11.108-.878 17.688 11.564 17.598 12.444-.096 17.616-6.714 20.384-17.837L276.392.687l27.502-.203-13.039 52.297c-4.603 18.59-24.323 26.369-50.003 26.526-25.642.22-41.554-7.274-36.919-25.911l13.011-52.28 27.5-.209" fill-rule="nonzero"/></svg>
    </h1>

    {# <nav class="site__hed--nav">
    {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) -%}
        <li class="nav__item">
          <a class="nav__item--link" href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- if entry.children.length -%}
          <ul class="nav__item--children">
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </ul>
          {%- endif -%}
        </li>
      {%- endmacro %}

      <ul class="nav">
      {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
      </ul>
    </nav> #}
  </header>
  <section class="long">
    <nav id="navigation" class="long__nav">
      {% if navigation.nav_items %}
      {% include './_menu.svg.njk' %}
      <ul class="nav">

      {% for nav_item in navigation.nav_items %}
        <li class="long__nav--item">
          <a class="long__nav--item--link" href="/articles/{{ nav_item.link | slug }}">{{ nav_item.title }}</a>
          {% if nav_item.childe_item %}
          <ul class="long__nav--item--children">
            {% for nav_child in nav_item.childe_item %}
              <li class="long__nav--item">
                <a class="long__nav--item--link" href="/articles/{{ nav_child.link | slug }}">
                  {{ nav_child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}

        </li>

      {% endfor %}
       <li class="long__nav--item"><a href="/faq">Frequently Asked Questions</a></li>
       {% endif %}
      </ul>


    </nav>

    <header class="long__hed">
      <h1 class="long__hed--title">{{ title }}</h1>
    </header>
    <article class="long__body">
      {{content | safe }}
    </article>

  </section>
  <script src="/js/main.js" async></script>
</body>
</html>